{% form_theme form '@App/Form/fieldTemplates.html.twig' %}
<div class="large-10 medium-10 small-12 large-offset-1 medium-offset-1 small-offset-0 text-center">

    {{ form_start(form) }}

    {% if form.vars.errors is not empty %}
        <div class="row">
            <div class="small-12 column callout small alert" data-closable>
                {{ form_errors(form) }}
                <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    {% endif %}

    <h3>{{ title }}</h3>

    <div class="row">
        <div class="small-12 medium-3 large-2 text-center medium-text-right column">
            {{ form_label(form.title) }}
        </div>
        <div class="small-12 medium-9 has-error column">
            {{ form_widget(form.title) }}
        </div>
        <div class="small-12 medium-9 medium-offset-3 large-offset-2 end text-right invalid-field column">
            {{ form_errors(form.title) }}
        </div>
    </div>

    <div class="row">
        <div class="small-12 medium-3 large-2 text-center medium-text-right column">
            {{ form_label(form.description) }}
        </div>
        <div class="small-12 medium-9 has-error column">
            {{ form_widget(form.description) }}
        </div>
        <div class="small-12 medium-9 medium-offset-3 large-offset-2 end text-right invalid-field column">
            {{ form_errors(form.description) }}
        </div>
    </div>

    <div class="row">
        <div class="small-12 medium-3 large-2 text-center medium-text-right column">
            {{ form_label(form.date.date) }}
        </div>
        <div class="small-12 medium-3 has-error column">
            {{ form_widget(form.date.date.day) }}
        </div>
        <div class="small-12 medium-3 has-error column">
            {{ form_widget(form.date.date.month) }}
        </div>
        <div class="small-12 medium-3 has-error column">
            {{ form_widget(form.date.date.year) }}
        </div>
        <div class="small-12 medium-9 large-10 medium-offset-3 text-right invalid-field column">
            {{ form_errors(form.date.date) }}
        </div>
    </div>

    <div class="row">
        <div class="small-12 medium-3 large-2 text-center medium-text-right column">
            {{ form_label(form.date.time) }}
        </div>
        <div class="small-12 medium-3 has-error column">
            {{ form_widget(form.date.time.hour) }}
        </div>
        <div class="small-12 medium-3 has-error column end">
            {{ form_widget(form.date.time.minute) }}
        </div>
        <div class="small-12 medium-9 large-10 medium-offset-3 text-right invalid-field column">
            {{ form_errors(form.date.time) }}
        </div>
    </div>

    <div class="row">
        <div class="small-12 medium-3 large-2 text-center medium-text-right column">
            {{ form_label(form.identifier, 'public label') }}
        </div>
        <div class="small-12 medium-9 large-9 has-error column">
            {{ form_widget(form.identifier) }}
        </div>
        <div class="small-12 medium-9 large-9 medium-offset-3 large-offset-2 end text-right invalid-field column">
            {{ form_errors(form.identifier) }}
        </div>
    </div>

    <div class="row">
        <div class="small-12 medium-3 large-2 text-center medium-text-right column">
            {{ form_label(form.allowPublicView) }}
        </div>
        <div class="small-12 medium-9 large-9 has-error text-left column">
            {{ form_widget(form.allowPublicView) }}
        </div>
        <div class="small-12 medium-9 large-9  medium-offset-3 large-offset-2 end text-left invalid-field column">
            {{ form_errors(form.allowPublicView) }}
        </div>
    </div>

    <div class="row">
        <div class="button-group form-buttons small-11 small-offset-0 column text-right">
            <button type="submit" value="save project" class="button primary">save</button>
            <a class="button secondary" data-close
               href=>cancel</a>
        </div>
    </div>
    {{ form_widget(form._token) }}
    {{ form_end(form, {'render_rest': false}) }}
</div>
