{% extends 'AppBundle::CountdownBase.html.twig' %}

{% form_theme form _self %}

{% block form_errors %}
    {% if errors|length > 0 -%}
        {% if form.parent %}<small class="error">{% else %}<div data-alert class="alert-box alert">{% endif %}
        {%- for error in errors -%}
            {{ error.message }}
            {% if not loop.last %}, {% endif %}
        {%- endfor -%}
        {% if form.parent %}</small>{% else %}</div>{% endif %}
    {%- endif %}
{% endblock %}

{%- block time_widget -%}
    {%- if widget == 'single_text' -%}
        {{ block('form_widget_simple') }}
    {%- else -%}
        {%- set vars = widget == 'text' ? { 'attr': { 'size': 1 }} : {} -%}
        <div {{ block('widget_container_attributes') }}>
            <div class="small-6 column">{{ form_widget(form.hour, vars) }}</div>
            {% if with_minutes %}
                <div class="small-6 column">{{ form_widget(form.minute, vars) }}</div>
            {% endif %}
            {% if with_seconds %}
                <div class="small-6 column">{{ form_widget(form.second, vars) }}</div>
            {% endif %}
        </div>
    {%- endif -%}
{%- endblock time_widget -%}

{% block _schedule_items_entry_widget %}
    <div class="small-2 column start">
        {{ form_widget(form.start, {'attr' : {'class' : 'row'}}) }}
    </div>
    <div class="small-3 column">
        <div>{{ form_widget(form.name) }}</div>
    </div>
    <div class="small-3 column">
        <div>{{ form_widget(form.description) }}</div>
    </div>
    <div class="small-3 column end">
        <div>{{ form_widget(form.owner) }}</div>
    </div>
{% endblock %}

{% block content %}
    <div class="small-10 small-offset-1 text-center">
        <h2>{{ project.title }}:</h2>

        {{ form_start(form) }}

        <div class="row schedule-head">
            <div class="small-2 column">Time</div>
            <div class="small-3 column">Name</div>
            <div class="small-3 column">Description</div>
            <div class="small-3 column end">responsible</div>
        </div>
        <div class="items" data-prototype="{{ form_widget(form.items.vars.prototype)|e('html_attr') }}">
            {% for item in form.items %}
                <div class="row">
                    <fieldset class="schedule-item">
                        <div class="small-2 column start">
                            {{ form_widget(item.start, {'attr' : {'class' : 'row'}}) }}
                        </div>
                        <div class="small-3 column">
                            <div>{{ form_widget(item.name) }}</div>
                        </div>
                        <div class="small-3 column">
                            <div>{{ form_widget(item.description) }}</div>
                        </div>
                        <div class="small-3 column end">
                            <div>{{ form_widget(item.owner) }}</div>
                        </div>
                    </fieldset>
                </div>
            {% endfor %}
        </div>
        <div class="row">
            <div class="button-group">
                {{ form_widget(form.save, {'attr' : {'class' : 'button primary'}}) }}
                <a href="{{ path('countdown_index') }}" class="button secondary">cancel</a>
            </div>
        </div>
        {{ form_widget(form._token) }}
        {{ form_end(form, {'render_rest': false}) }}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/schedule.js') }}"></script>
{% endblock %}
