{% extends 'AppBundle::CountdownBase.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/Jquery/jquery-ui.min.css') }}">
    {{ parent() }}
{% endblock %}

{% block content %}
    <div class="small-10 small-offset-1 main-view-holder" data-start-time="{{ start }}" data-status="{{ status }}">
        <div class="row">
            <h3>{{ project.title }}</h3>
        </div>
        <div class="row">
            <div class="small-12 medium-6 column"><h6 class="no-bottom-margin">Event</h6></div>
            <div class="small-8 medium-4 column"><h6 class="no-bottom-margin">Responsible</h6></div>
            <div class="small-4 medium-2 column"><h6 class="no-bottom-margin">Deadline</h6></div>
        </div>
        {% for item in project.items %}
            <div class="row view-item-wrapper">
                <div class="small-12 view-item column" {% if item.name == 'start' %}id="count-down"{% endif %}
                     data-deadline="{{ item.deadline }}">
                    <div class="small-12 medium-6 text-left column item-name">
                        {{ item.name }}
                    </div>
                    <div class="small-8 medium-4 text-left column">
                        {% if item.owner != '' %}
                            {{ item.owner }}
                        {% else %}
                            -
                        {% endif %}
                    </div>
                    <div class="small-4 medium-2 column end item-start">
                        {{ item.deadline }}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/Jquery/jquery-ui.min.js') }}"></script>
    <script src="{{ asset('js/viewProject.js') }}"></script>
{% endblock %}
