{% extends 'base.html.twig' %}

{% block title %}
    Countdown
{% endblock %}

    {% block stylesheets %}
        {{ parent() }}
        <link rel="stylesheet" href="{{ asset('css/countdown.css') }}"/>
    {% endblock %}

 {% block body %}
     {{ include('AppBundle:Partial:overhead.html.twig', {'homepage' : 'true', 'appTitle' : 'countdown'}) }}
     <div class="row">
         <div class="large-12 column main">
             <div class="foreground">
                 <div class="small-10 small-offset-1">

                     <h2>Projects</h2>

                     <table class="table hover">
                         <thead>
                         <tr>
                             <th>Title</th>
                             <th>Description</th>
                             <th>Date</th>
                             <th>User</th>
                             <th></th>
                         </tr>
                         </thead>
                         <tbody>
                         {% for project in projects if project.deleted == false %}
                             <tr>
                                 <td>
                                     {{ project.title }}
                                 </td>
                                 <td>
                                     {{ project.description }}
                                 </td>
                                 <td>
                                     {{ project.date|date("m/d/Y") }}
                                 </td>
                                 <td>
                                     {% if project.user.username is defined %}
                                         {{ project.user.username }}
                                     {% else %}
                                         <span class="callout alert">Warning: no user set!</span>
                                     {% endif %}
                                 </td>
                                 <td>
                                     <div class="button-group">
                                         <a class="button success"
                                            href="{{ path('countdown_view', {'project' : project.id}) }}">
                                             View
                                         </a>
                                         <a class="button primary"
                                            href="{{ path('countdown_schedule', {'project' : project.id}) }}">
                                             Schedule
                                         </a>
                                         <a class="button primary modal-form"
                                            data-form="{{ path('countdown_project_edit', {'project' : project.id}) }}"
                                            data-modal="edit-project">
                                             Edit
                                         </a>
                                         <a type="button" class="button delete-button alert" data-open="confirm-delete"
                                            data-href="{{ path('countdown_delete', {'project' : project.id}) }}">
                                             Delete
                                         </a>
                                     </div>
                                 </td>
                             </tr>
                         {% endfor %}
                         </tbody>
                     </table>
                     <a class="button primary large" href="{{ path('countdown_project_create') }}">
                         Create new Project
                     </a>
                 </div>
             </div>
         </div>
     </div>
     {% include('CountdownBundle:View/partial:formModal.html.twig') %}
     <div class="reveal" id="confirm-delete" data-reveal>
         <h3>Delete project?</h3>
         <p>Are you sure you want to delete this project?</p>
         <button class="close-button" data-close aria-label="Close modal" type="button">
             <span aria-hidden="true">&times;</span>
         </button>
         <div class="button-group small-12 small-offset-0 text-right column">
             <div class="row">
                 <div class="small-12 medium-6 medium-offset-6 large-4 large-offset-8 columns button-group form-buttons">
                     <button class="button secondary text-center" data-close>
                         back
                     </button>
                     <button id="delete" class="button alert text-center">delete</button>
                 </div>
             </div>
         </div>
     </div>
 {% endblock %}

    {% block javascripts %}
        {{ parent() }}

        <script src="{{ asset('js/countdown.js') }}"></script>
    {% endblock %}