<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Countdown{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/app.css') }}"/>
        <link rel="stylesheet" href="{{ asset('assets/vendor/motion-ui/dist/motion-ui.css') }}"/>

        <link href="http://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css" rel="stylesheet">
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"
          credit="Icon made by Freepik from www.flaticon.com"/>

</head>
<body>
<div id="background">
    {% block body %}{% endblock %}
    {% block javascripts %}
        <script
                src="https://code.jquery.com/jquery-3.2.1.min.js"
                integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
                crossorigin="anonymous"></script>
        <script src="https://use.fontawesome.com/e8c40ba597.js"></script>
        <script src="{{ asset('assets/vendor/motion-ui/dist/motion-ui.min.js') }}"></script>
        <script src="{{ asset('js/foundation.min.js') }}"></script>
        <script src="{{ asset('assets/vendor/what-input/dist/what-input.js') }}" ></script>
        <script src="{{ asset('js/base.js') }}"></script>
    {% endblock %}
</div>
</body>
</html>
