{#note: Not required, user always logged in, keep code for demo page in future.#}
{#{% if not is_granted('IS_AUTHENTICATED_FULLY') %}#}
    {#<div class="dropdown-pane" id="example-dropdown" data-dropdown data-auto-focus="true">#}
        {#<div class="row">#}
            {#{{ include('AppBundle:Security:loginForm.html.twig') }}#}
        {#</div>#}
    {#</div>#}
{#{% endif %}#}

<div id="header" class="row">
    <div class= "hide-for-small-only medium-8 large-9 column slogan-wrapper text-center">
        <div class="slogan align-middle">
            <h1>Countdown</h1>
        </div>
    </div>
    <div class="small-12 medium-4 large-3 column text-right">
        <div class="callout primary" id="home-box">
            <div class="row">
                <div class="small-6 show-for-small-only column text-center"><h1>Countdown</h1></div>
                <div class="small-6 medium-12 text-center column">
                    <div class="button-group">
                        {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
                            <a class="button" href="{{ path('fos_user_security_login') }}">Login</a>
                        {% else %}
                            <a class="button fa fa-home" href="{{ path('countdown_index') }}">
                                {% if app.user.username is defined %}
                                    {{ app.user.username }}
                                {% endif %}
                            </a>
                            <a class="button" href="{{ path('fos_user_security_logout') }}">logout</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>